* {
    box-sizing: border-box;
}
.leftArrow {
    display: inline-block;
    transform: rotate(-90deg);
}
.rightArrow {
    display: inline-block;
    transform: rotate(90deg);
}
.board {
    display: inline-block;
    position: relative;

    font-family: 'Press Start 2P', sans-serif;
}

.board__body {
    margin-bottom: 40px;
}

.board__info {
    display: flex;
    gap: 40px;
    padding: 20px;
    user-select: none;
}
.board__keyboard {
    display: flex;
    justify-content: space-between;
}
.board__keyboard-player {
    user-select: none;
    padding: 20px;
    display: grid;
    grid-template-columns: 100px 160px 100px;
    grid-template-rows: auto;
    grid-template-areas:
        ". up ."
        "left attack right";
}

.board__keyboard-key {
    padding: 20px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
}

.board__keyboard-key.up {
    grid-area: up;
}

.board__keyboard-key.left {
    grid-area: left;
}

.board__keyboard-key.right {
    grid-area: right;
}

.board__keyboard-key.attack {
    grid-area: attack;
}

.board__result {
    position: absolute;
    top: 110px;
    left: 50%;
    color: white;
    font-size: 28px;
    transform: translate(-50%, -50%);
}

.health-bar {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 20px;
}

.health-bar__left,
.health-bar__right {
    width: 100%;
    height: 30px;
    position: relative;
    border: 3px solid #fff;
}

.health-bar__center {
    width: 100px;
    height: 50px;
    color: #fff;
    background-color: #000;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.health-bar__life {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: #818cf8;
}
.health-bar__hit {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f00;
}
.health-bar__life_position_right {
    right: 0;
}